:root {
    --color: #545b62;
    --text: #24292F;
    --color3: #fad008;
    --color4: #fff;
    --color5: #f4f4f4;
}

/* Navbar fixes */
.navbar {
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
}

.nav-link {
    color: var(--text);
}

.nav-link:hover {
    text-decoration: underline;
}

/* End Navbar fixes */


/* Buttons fixes */
.btn {
    border-radius: 2rem !important;
}

.btn-link {
    color: var(--text) !important;
    text-decoration: none;
}

.btn-white {
    background-color: white;
    color: var(--text);
}

.btn-white:hover {
    background-color: white;
    color: var(--text);
}

/* End Buttons fixes */


/* Text Styles */
.subtitle {
    text-transform: uppercase;
    font-size: 28px;
    font-family: "Roboto Light" !important;
    margin: 0;
    padding: 0;
}

.main-title {
    font-size: 48px;
    font-family: "Roboto Medium" !important;
}

.main-title::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--text);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.main-title-light {
    font-size: 48px;
    font-family: "Roboto Medium" !important;
}

.main-title-light::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.main-title-left {
    font-size: 48px;
    font-family: "Roboto Medium" !important;
}

.main-title-left::after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--text);
    margin-top: 30px;
}

.text-light {
    color: white !important;
}

/* End Text Styles */

/* Header Section */
header {
    margin-top: 3rem;
    /*max-height: 75vh;*/


}

.carousel-indicators [data-bs-target] {
    width: 30px !important;
    height: 8px;
    background-clip: unset !important;
    border-top: 0;
    border-bottom: 0;
    border-radius: 10px;
}

/* End Header Section */


/* Abitab Familia Section */
#abitab-familia-section {
    padding: 100px 0;
    background-color: rgba(162,231,255,.3);
}

a {
    color: var(--text);
    text-decoration: none !important;
}

.card-link {
    font-size: 20px;
    font-family: "Roboto Medium" !important;
    color: var(--text);
}

.card-link:hover {
    color: white;
}

.card {
    width: 33% !important;
    border: none !important;
}

.card:hover {
    background-color: var(--text);
    color: white !important;
    cursor: pointer;
}

.icon-card {
    z-index: 0;
    margin-top: 3rem !important;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.icon-card:hover {
    filter: invert(93%) sepia(0%) saturate(7483%) hue-rotate(71deg) brightness(116%) contrast(101%);
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.dark-card-bg {
    background-color: var(--text);
}

/* End Abitab Familia Section */


/* Offers Section */
#offers-section {
    padding: 100px 0;
    background-color: var(--text);
}

/* End Offers Section */


/* TuCaja Section */
#tucaja-section {
    padding: 100px 0;
    background-color: rgba(162,231,255,.3);

}

/* End TuCaja Section */


/* Phone Section */
#phone-section {
    padding: 100px 0;
}

.icon-phone-base{
    width: 165px;
    height: 165px;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 6px;
}

/* End Phone Section */


/* Abitab Collectivos Section */
#abitab-colectivos-section {
    padding: 100px 0;
    background-color: rgba(162,231,255,.3);

}

/* End Abitab Collectivos Section */


/* History Section */
#history-section {
    padding: 100px 0;
}

/* End History Section */


/* Giro Transfer Section */
#giro-transfer-section {
    padding: 100px 0;
    background-color: rgba(162,231,255,.3);

}

/* End Giro Transfer Section */


/* Parking Section */
#parking-section {
    padding: 100px 0;
}

/* End Parking Section */


/* Newsletters Section */
#newsletters-section {
    padding: 100px 0;
    background-color: rgba(162,231,255,.3);

}

/* End Newsletters Section */


/* Footer Section */

/* End Footer Section */


/*  Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {

    /* Text Styles */
    .main-title {
        padding-left: 25%;
        padding-right: 25%;
    }

    .main-title-light {
        padding-left: 25%;
        padding-right: 25%;
    }

    /* End Text Styles */
}

/*  Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {

}

/*  Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {


}

/*  X-Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {

}

/*  XX-Large devices (larger desktops, 1400px and up)  */
@media (min-width: 1400px) {

}